*{
    margin: 0;
    
    font-family: Arial, Helvetica, sans-serif;    
    text-decoration: none;
}
#navBar{
    background-color: #37474f;
    width: 100%;
    height: 56px;
    z-index: 2;
    position: relative;
    color: white;
    
}
ul{
    display: flex;
    background-color: #37474f;
}
li a, .menuButton{
    text-decoration: none;
    background-color: #37474f;
    z-index:2;
    color: whitesmoke;
}
li a, .menuButtonLoggedIn{
    text-decoration: none;
    background-color: #37474f;
    z-index:2;
    color: whitesmoke;
}
.dropdown{    
    color: whitesmoke;
    background-color: #37474f;
    position:relative;
    display:inline-block;
    list-style: none;
    font-size: 32px;
    padding-left: 10px;
    padding-right: 40px;
    z-index: 2;
   
}
.dropdown:hover .dropdown-content{
    display:block;
    background-color: #37474f;
    z-index: 2;
    color: whitesmoke;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #37474f;
    padding: 8px;
    font-size: 20px;
    z-index: 2;
}
#loginBox{
    box-shadow: 0 0 40px rgba(black,0.3);
    background-color: white;
    border-style: groove;
    border-radius: 20%;
    height:250px;
    width:325px;
    display: none;
    z-index: 5;
    padding:30;
    margin:auto;
    margin-top:200px;
    position: fixed;    
    top:25%;
    left:36%;
}
#loginForm{
    margin-top: 40px;
    text-align: center;
    line-height: 1.8;
    color:#132731;
    font-size: 14;
    padding:30;
}
#messageBox{
    height: 36px;
    width: 80%;
    border-style: groove;
    border-color: #E498B0;
    margin-left: 80px;
    margin-top: 20px;
    z-index: 1 ;
    font-weight:bold;
    padding: 8px;
}
#inputSelectionBox{
    height: 110px;
    width: 80%;
    border-style: groove;
    border-color: #E498B0;
    margin: 20px;
    margin-left: 80px;
    padding: 8px;
    line-height: 1.4;
    z-index: 1 ;
    font-weight:bold;
}
#graphArea{
    Width:80%;
    Height: 620px;
    border-style: groove;
    border-color: #E498B0;
    margin: 20px;
    margin-left: 80px;
    padding: 8px;
}
#graph1{
    float:left;
    border-style: groove;
    border-color: #E498B0;
    height: 575px;
    width: 49%;
}
#graph2{

    float:right;
    border-style: groove;
    border-color: #E498B0;
    height: 575px;
    width: 49%;
}

#tableArea{
    width:80%;
    Height: 620px;
    border-style: groove;
    border-color: #E498B0;
    margin: 20px;
    margin-left: 80px;
    padding: 8px;
    
}